.main
    .titles
        h1 Timesheet for #{title.name}
        h2= title.date
    .navigation
        ul.links
            - for link in ['options', 'help', 'print', 'logoff']
                li: a(href=links[link].href)= links[link].text
        ul.timetravel
            li: a(href=links.next.href)= links[link].text
            li(style="display:none"): a(id="calendar")
            li: a(href=links.prev.href)= links.prev.text
    
    .form
        table
            thead
                tr
                    td
                    td
                    td
                    - for day in days
                        td= day
                    td 
                tr
                    - for header in ['Filter', 'Activity', '', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                        th= header
            tbody
                - number = entries.length + 3
                - for index in [0..number]
                    != templates["templates/row.jade"]({index, days, activities})
                tr
                    td
                    td: span.links
                        - for link in ['choices', 'copy']
                            a(href=links[link].href)= links[link].text
                            
                    td.all.total
                        
                    - for day in days
                        td.col.total
    .utility
        .submit
            input(type="submit", name="submitu", value="Update")#submit.button
        .weeks
            ul
                - for [day, month, total, href] in weeks
                    li
                        - if href
                            a(href=href)= "#{day} #{month} (#{total})"
                        - else
                            span.nolink #{day} #{month} (#{total})
